@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

h1 {
    font-weight: 100;
    font-size: 55px;
    border-top: 5px solid green;
}

body {
    background-color: #f69680;
    color: #2e1263;
    font-family: 'Kosugi Maru', sans-serif;
}

img {
    width: 550px;
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    margin: 30px auto;
    background-color: #f69680;
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-align: center;
    border: 1px solid #2e1263;
    letter-spacing: 4px;
    outline: none;
}

button:hover {
    transition: 0.8s;
    background-color: #2e1263;
    color: #f69680;
    text-decoration: underline;
}

p {
    font-size: 20px;
}